body{font-family: '微软雅黑';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
a{text-decoration: none;}

.btn{background-color: #d8573f; font-size: 14px; color: #fff;}
.btn-y{background-color: #eeb35e; font-size: 14px; color: #fff;}
.btn-o{background-color: #d8573f; font-size: 14px; color: #fff;}
.btn-w{border: 1px solid #ccc; color: #333;font-size:14px;}
.btn-270{width: 270px; height: 45px; display: inline-block; border-radius: 5px;text-align: center;line-height: 45px;}
.btn-340{width: 340px; height: 50px; display: inline-block; border-radius: 5px;text-align: center;line-height: 50px;}
.btn-160{width: 160px; height: 40px; display: inline-block; border-radius: 5px;text-align: center;line-height: 40px;}
.btn-140{width: 140px; height: 36px; display: inline-block; border-radius: 5px;text-align: center;line-height: 36px;}
.btn-135{width: 135px; height: 35px; display: inline-block; border-radius: 20px;text-align: center;line-height: 35px;}
.btn-90{width: 90px; height: 30px; display: inline-block; border-radius: 20px;text-align: center;line-height: 30px;}
.btn-per{width: 100%; height: 40px; display: inline-block; border-radius: 5px;text-align: center;line-height: 40px;}

.back-f6f6f6{background-color: #f6f6f6;padding-bottom: 30px;}
.back-fff{background-color: #fff;padding-bottom: 30px;}
.back-333{background-color: #333;padding-bottom: 30px;}
.width-1190{width: 1190px; height: auto;margin: 0 auto;}

.color-o{color: #d8573f;}
.color-666{color: #666666;}
.color-fff{color: #fff;}
.color-y{color: #ffec96;}
.center{text-align: center;}
.left{text-align: left;}
.right{text-align: right;}

.select-com{border-radius: 5px;line-height: 40px;padding-left: 4px;display: block; box-sizing: border-box;border: 1px solid #cdcdcd;width: 100%;height: 40px;background: #fff;margin:0 auto;margin-bottom: 20px;}

.top{background-color: #315375;line-height: 60px;height: 60px;overflow: hidden;}
.top ul{width: 1160px;margin: 0 auto; overflow: hidden;}
.top ul li{float: left;padding: 0px 18px;}
.top ul li a{display: block; padding: 0px 10px;}
.top ul li a:hover{background: rgba(0, 0, 0, 0.2);}
.top ul li:nth-of-type(1) a:hover, .top ul li:nth-of-type(8) a:hover{background: none;}