.top{position: fixed; left: 0px; top: 0px;width: 100%;z-index: 10;}
.banner{margin-top: 60px;}
.top ul li{float: left;padding: 0px 10px;}
.btn-box{position: absolute;bottom: 100px; left: 360px;}
.btn-box a:nth-of-type(2){margin: 0px 20px;}
.nav-box{width: 290px;background: rgba(0, 0, 0, 0.4);position: absolute;top: 0px; left: 30px;box-sizing: border-box;}
.nav-box>p{font-size: 20px; font-weight: bold; color: #fff;padding-top: 30px;}
.nav-box div p{font-size: 16px;line-height: 30px;padding-top: 10px;}
.nav-box div a{color: #fff;}
.nav-box div a:hover{text-decoration: underline; color: #ffe10d;}
.nav-box ul{border-bottom: 1px solid #fff; height: auto; overflow: hidden;}
.nav-box ul li{width: 50%; float: left;line-height: 40px;}
.nav-box ul li a{font-size: 16px; color: #fff;}
.nav-box ul li a:hover{text-decoration: underline; color: #ffe10d;}
.content-1{margin-top: 20px;}
.content-1 img{display: block;}
.con-1-btn-box{margin-top: 10px;}
.con-1-btn-box a{margin-left: 20px;}
.con-1-btn-box a:nth-of-type(1){margin-left: 0px;}

.service-box{height: 243px; background-color: #dfdfdf; border-radius: 20px;overflow: hidden;box-sizing: border-box;margin-top: 40px;}
.service-box .tit-1{margin-top: 20px;}
.service-form{line-height: 40px;margin-top: 30px;text-align: center;}
.service-form span{font-size: 14px; color: #444;}
.input-com{border-radius: 5px;line-height: 40px;text-align: center;width: 240px;margin: 0px 10px;border: 1px solid #cdcdcd;height: 40px;background: #fff;}

.location{width: 675px;text-align: right;}
.location a{margin: 8px 0px 0px 5px;}
.location a:hover{background-color: #d8573f;color: #fff;}
.location input{width: 238px;margin: 0px 5px;}

.content-2 img{display: block;float: left;}
.content-2 .hot{margin-top: 20px;}

.cont-2-btn{text-align: center;}
.cont-2-btn a{margin: 10px;}

.content-2{position: relative;}
.zhenti-1-btn{position: absolute;bottom: 50px; left: 50px;}
.zhenti-1-btn a{margin-top: 10px;}

.zhenti-comm{position: absolute;right: 20px;}
.zhenti-comm a{margin-left: 50px;}
.zhenti-comm a:nth-of-type(1){margin-left: 0px;}
.zhenti-2-btn{top: 150px;}
.zhenti-3-btn{top: 350px;}

.btn-w:hover{background-color: #444; color: #fff;}
.btn-o:hover{background-color: #444;}
.btn-y:hover{background-color: #444;}
.btn-g:hover{background-color: #fff;color: #444;}
.btn-fff:hover{background-color: #444;color: #fff;}

.banner .width-1190{position: absolute;top: 0px; left: 50%; margin-left: -580px;height: auto; overflow: hidden;}

.back-to-top{position: fixed; right: 0px; bottom: 100px;background-color: #d55b49;width: 110px; height: 280px;box-sizing: border-box; border-radius: 20px;}
.back-to-top li{padding: 0px 5px; text-align: center;}
.back-to-top li:nth-of-type(1){padding-right: 10px; color: #fff;line-height: 30px;font-size: 24px;cursor: pointer;}
.back-to-top li:nth-of-type(2) a{border-top: 1px dashed #fff;}
.back-to-top li:nth-of-type(8) a{border-bottom: none;}
.back-to-top li a{color: #fff;line-height: 34px; display: inline-block;border-bottom: 1px dashed #fff;font-size: 14px;width: 100%;}
.back-to-top li a:hover{background-color: rgba(0, 0, 0, 0.1);color: #ffec96;}
.back-to-top li a i{font-size: 14px;padding-right: 8px;}

