body{font-family: '微软雅黑';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {margin:0;padding:0;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
a{text-decoration: none;}
.bottom{padding: 10px 0px 20px 0px;}

.color-red{color: #c0351a;}
.hidden{display: none;}

.fl_l{float:left;}
.fl_r{float: right;}
.clear{clear: both;}
.top{line-height: 40px;height: 40px;padding:0px 10px;font-size: 1rem;}
.top-w{color: #333;}
.banner{position: relative; height: auto;overflow:hidden;}
.banner-w{font-size: 1.1rem;position: absolute;color: #311912;left: 0px;text-align: center;line-height: 40px;width: 100%;top: 45%;}
.banner-w p{line-height: 30px;}
.content{text-align: center; font-size: 10px;color: #333333;}
.con-tit{width: 80%;margin: 0 auto;line-height: 50px;padding:20px 0px;}
.con-tit p:nth-of-type(1){font-size: 1.3rem;}
.con-tit p:nth-of-type(2){font-size: 1.2rem;border-top: 2px solid #c0351a;color: #c0351a;}

/* select */
.con-sel{width: 80%;margin: 0 auto;}
.type_2{background-color: #c0351a;text-align: center;display: block;margin-bottom: 20px;border-radius: 5px; line-height: 40px;display: block;}
.type_2 a{color: #fff;}

/* radio */
.type-radio{display: inline-block;width: 30%;}
.type-radio span{display: inline-block;vertical-align: middle;font-size: 0.8rem;}
.type-radio .circle{border: 1px solid #cdcdcd; border-radius: 50%;width: 12px; height: 12px;}
.type-radio input:checked+span{background-color: #c0351a;}
.info{display: block; font-size: 1rem;line-height: 40px;padding: 10px 0px;color: #666;}
.radio-box{text-align: left;margin-bottom: 20px;}
.title{font-size: 0.9rem; line-height: 30px; width: 80%;margin: 0 auto;font-weight: bold;padding-top:20px;}

.select-com{border-radius: 5px;line-height: 40px;text-align: center;display: block;border: 1px solid #cdcdcd;width: 100%;height: 40px;background: none;margin:0 auto;margin-bottom: 20px;}

/* popover */
.bak{position: fixed; top: 0px; left: 0px; width: 100%; height: 100%;background-color: rgba(0, 0, 0, 0.5);}
.pop{width: 340px; height: auto;position: fixed; top: 150px; left: 50%; margin-left: -170px;background-color: #fff;border-radius: 5px;}
.pop-tit{height: 30px;line-height: 30px;color: #fff;text-align:center;background-color: #cd351b;padding: 10px;font-size: 14px;border-radius: 5px 5px 0px 0px;}
.pop-tit i{float: right;font-size: 14px;}
.pop-con{padding: 20px 10px 0px 10px;}
.pop label input{width: 230px;display: inline-block}
.pop-con label span{display: inline-block; width: 80px; text-align: right;}